@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
                    <img class="one-third order-md-last img-fluid" src="~/images/bg_1.png" alt="">
                    <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">#Hàng mới về</span>
                            <div class="horizontal">
                                <h1 class="mb-4 mt-3">Shoes Collection 2019</h1>
                                <p class="mb-4"></p>

                                <p><a href="#" class="btn-custom">Khám phá ngay</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
                    <img class="one-third order-md-last img-fluid" src="~/images/bg_2.png" alt="">
                    <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">#Hàng mới về</span>
                            <div class="horizontal">
                                <h1 class="mb-4 mt-3">New Shoes Winter Collection</h1>
                                <p class="mb-4"></p>

                                <p><a href="#" class="btn-custom">Khám phá ngay</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row no-gutters ftco-services">
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-bag"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Giao hàng miễn phí</h3>
                        <p>Các đơn hàng luôn được miễn phí vận chuyển tới tay bạn.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-customer-service"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Hỗ trợ khách hàng</h3>
                        <p>Luôn hỗ trợ khách hàng 24/7.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-payment-security"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Thanh toán an toàn</h3>
                        <p>Mọi thông tin thanh toán đều được bảo mật.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-2">
                <h4 class="heading">LOẠI</h4>
                <div class="mb-3">
                    <a class="panel-title d-flex align-items-center justify-content-between"
                       data-bs-toggle="collapse" href="#collapseMenuMen" role="button" aria-expanded="false"
                       aria-controls="collapseMenu" style="text-decoration: none; font-size: 14px;">
                        MEN'S SHOES
                        <span class="bi bi-chevron-down"></span>
                    </a>
                </div>
                <div class="collapse show " id="collapseMenuMen">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item border-0 ps-0 bg-transparent"><a href="#" class="text-dark">Sport</a></li>
                        <li class="list-group-item border-0 ps-0 bg-transparent"><a href="#" class="text-dark">Casual</a></li>
                        <li class="list-group-item border-0 ps-0 bg-transparent"><a href="#" class="text-dark">Running</a></li>
                        <li class="list-group-item border-0 ps-0 bg-transparent"><a href="#" class="text-dark">Jordan</a></li>
                        <li class="list-group-item border-0 ps-0 bg-transparent"><a href="#" class="text-dark">Soccer</a></li>
                        <li class="list-group-item border-0 ps-0 bg-transparent"><a href="#" class="text-dark">Football</a></li>
                        <li class="list-group-item border-0 ps-0 bg-transparent"><a href="#" class="text-dark">Lifestyle</a></li>
                    </ul>
                </div>
                <div class="mb-3">
                    <a class="panel-title d-flex align-items-center justify-content-between"
                       data-bs-toggle="collapse" href="#collapseMenuWOMENT" role="button" aria-expanded="false"
                       aria-controls="collapseMenu" style="text-decoration: none; font-size: 14px;">
                        WOMENT'S SHOES
                        <span class="bi bi-chevron-down"></span>
                    </a>
                </div>
                <div class="collapse show " id="collapseMenuWOMENT">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item border-0 ps-0 bg-transparent"><a href="#" class="text-dark">Sport</a></li>
                        <li class="list-group-item border-0 ps-0 bg-transparent"><a href="#" class="text-dark">Casual</a></li>
                        <li class="list-group-item border-0 ps-0 bg-transparent"><a href="#" class="text-dark">Running</a></li>
                        <li class="list-group-item border-0 ps-0 bg-transparent"><a href="#" class="text-dark">Jordan</a></li>
                        <li class="list-group-item border-0 ps-0 bg-transparent"><a href="#" class="text-dark">Soccer</a></li>
                        <li class="list-group-item border-0 ps-0 bg-transparent"><a href="#" class="text-dark">Football</a></li>
                        <li class="list-group-item border-0 ps-0 bg-transparent"><a href="#" class="text-dark">Lifestyle</a></li>
                    </ul>
                </div>
                <h4 class="heading">GIÁ TIỀN KHOẢNG</h4>
                <form>
                    <div class="form-group">
                        <label for="minPrice">Từ:</label>
                        <input type="number" id="minPrice" class="form-control" placeholder="1">
                    </div>
                    <div class="form-group">
                        <label for="maxPrice">Đến:</label>
                        <input type="number" id="maxPrice" class="form-control" placeholder="2000">
                    </div>
                </form>
            </div>

            <!-- Product Grid -->
            <div class="col-md-10">
                <div class="d-flex flex-wrap">
                    <div class="product-card col-md-3 col-sm-6 mb-3">
                        <a class="img-prod">
                            <img src="~/images/product-1.png" class="img-fluid product-image" alt="Product Image">
                        </a>
                        <div class="hover-overlay">
                            <button class="btn btn-dark add-to-cart-btn">THÊM VÀO GIỎ</button>
                            <button class="btn btn-light buy-now-btn">MUA NGAY</button>
                        </div>
                        <div class="product-info">
                            <h5 class="product-title">NIKE FREE RN 2019 ID</h5>
                            <p class="product-price">1.020.000đ</p>
                        </div>
                    </div>
                </div>
                <div class="page">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="ftco-section ftco-choose ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-4">
                <div class="choose-wrap divider-one img p-5 d-flex align-items-end" style="background-image: url(../images/choose-1.jpg);">

                    <div class="text text-center text-white px-2">
                        <span class="subheading">Giày nam</span>
                        <h2>Bộ sưu tập giầy nam</h2>
                        <p>Những thiết kế mạnh mẽ dành cho cánh đàn ông.</p>
                        <p>@Html.ActionLink("Mua ngay", "Product", "Product", new { area = "" }, new { @class = "btn btn-black px-3 py-2" })</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row no-gutters choose-wrap divider-two align-items-stretch">
                    <div class="col-md-12">
                        <div class="choose-wrap full-wrap img align-self-stretch d-flex align-item-center justify-content-end" style="background-image: url(../images/choose-2.jpg);">
                            <div class="col-md-7 d-flex align-items-center">
                                <div class="text text-white px-5">
                                    <span class="subheading">Giày nữ</span>
                                    <h2>Bộ sưu tập của phụ nữ</h2>
                                    <p>Những thiết kế trang trọng, và quý phái giành cho các chị em phụ nữ.</p>
                                    <p>@Html.ActionLink("Mua ngay", "Product", "Product", new { area = "" }, new { @class = "btn btn-black px-3 py-2" })</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <div class="choose-wrap wrap img align-self-stretch bg-light d-flex align-items-center">
                                    <div class="text text-center px-5">
                                        <span class="subheading">Giảm giá mùa hè</span>
                                        <h2>Extra 50% Off</h2>
                                        <p>Những đôi giầy mang phong cách vào mùa hè luôn đc ưu đãi.</p>
                                        <p>@Html.ActionLink("Mua ngay", "Product", "Product", new { area = "" }, new { @class = "btn btn-black px-3 py-2" })</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="choose-wrap wrap img align-self-stretch d-flex align-items-center" style="background-image: url(../images/choose-3.jpg);">
                                    <div class="text text-center text-white px-5">
                                        <span class="subheading">Giày dép</span>
                                        <h2>Bán chạy nhất</h2>
                                        <p>Những đôi giày bán chạy nhất luôn là nhưng lựa chọn tốt.</p>
                                        <p>@Html.ActionLink("Mua ngay", "Product", "Product", new { area = "" }, new { @class = "btn btn-black px-3 py-2" })</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-deal bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/images/prod-1.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-6">
                <div class="heading-section heading-section-white">
                    <span class="subheading">Deal of the month</span>
                    <h2 class="mb-3">Deal of the month</h2>
                </div>
                <div id="timer" class="d-flex mb-4">
                    <div class="time" id="days"></div>
                    <div class="time pl-4" id="hours"></div>
                    <div class="time pl-4" id="minutes"></div>
                    <div class="time pl-4" id="seconds"></div>

                </div>
                <div class="text-deal">
                    <h2>@Html.ActionLink("Nike Free RN 2019 iD", "Product", "Product")</h2>
                    <p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>
                    <ul class="thumb-deal d-flex mt-4">
                        <li class="img" style="background-image: url(../images/product-6.png);"></li>
                        <li class="img" style="background-image: url(../images/product-2.png);"></li>
                        <li class="img" style="background-image: url(../images/product-4.png);"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="services-flow">
                    <div class="services-2 p-4 d-flex ftco-animate">
                        <div class="icon">
                            <span class="flaticon-bag"></span>
                        </div>
                        <div class="text">
                            <h3>Giao hàng miễn phí</h3>
                            <p class="mb-0">Giao hàng miễn phí và trao đến tận tay khách hàng.</p>
                        </div>
                    </div>
                    <div class="services-2 p-4 d-flex ftco-animate">
                        <div class="icon">
                            <span class="flaticon-heart-box"></span>
                        </div>
                        <div class="text">
                            <h3>Quà tặng giá trị</h3>
                            <p class="mb-0">Món quà tri ân đặc biệt ý nghĩa cho người được tặng.</p>
                        </div>
                    </div>
                    <div class="services-2 p-4 d-flex ftco-animate">
                        <div class="icon">
                            <span class="flaticon-payment-security"></span>
                        </div>
                        <div class="text">
                            <h3>Hệ thống bảo mật</h3>
                            <p class="mb-0">Luôn bảo mật thông tin khác hàng một cách tốt nhất theo chính sách đề ra.</p>
                        </div>
                    </div>
                    <div class="services-2 p-4 d-flex ftco-animate">
                        <div class="icon">
                            <span class="flaticon-customer-service"></span>
                        </div>
                        <div class="text">
                            <h3>Hỗ trợ cả ngày</h3>
                            <p class="mb-0">Luôn có nhân viên túc trực 24/7 để hỗ trợ khách hàng một cách nhanh chóng.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="heading-section ftco-animate mb-5">
                    <h2 class="mb-4">Khách hàng đánh giá sự hài lòng</h2>
                    <div class="carousel-testimony owl-carousel ftco-animate">
                        <div class="item">
                            <div class="testimony-wrap">
                                <div class="user-img mb-4" style="background-image: url(../images/person_1.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p class="mb-4 pl-4 line">Tôi đã sử dụng nhiều đôi giày trước đây, nhưng đôi giày này thực sự vượt xa mong đợi của tôi về chất lượng. Từ vật liệu chế tạo đến cách thức gia công, mọi thứ đều rất chắc chắn và bền bỉ.</p>
                                    <p class="name">Garreth Smith</p>
                                    <span class="position">Khách hàng</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap">
                                <div class="user-img mb-4" style="background-image: url(../images/person_2.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p class="mb-4 pl-4 line">Điều tôi thích nhất ở đôi giày này chính là thiết kế. Nó không chỉ thoải mái khi mang mà còn rất phong cách và thời trang. Tôi có thể dễ dàng phối với nhiều trang phục khác nhau.</p>
                                    <p class="name">Garill Bale</p>
                                    <span class="position">Khách hàng</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap">
                                <div class="user-img mb-4" style="background-image: url(../images/person_3.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p class="mb-4 pl-4 line">Điều quan trọng với giày chính là cảm giác khi sử dụng. Đôi giày này rất thoải mái, không gây trơn trượt hay đau chân ngay cả sau một thời gian dài sử dụng.</p>
                                    <p class="name">John Ash</p>
                                    <span class="position">Khách hàng</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="ftco-gallery ftco-section ftco-no-pb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 heading-section text-center mb-4 ftco-animate">
                <h2 class="mb-4">Theo dõi chúng tôi trên Instagram</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="~/images/gallery-1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../images/gallery-1.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="~/images/gallery-2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../images/gallery-2.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="~/images/gallery-3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../images/gallery-3.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="~/images/gallery-4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../images/gallery-4.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="~/images/gallery-5.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../images/gallery-5.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="~/images/gallery-6.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../images/gallery-6.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
